<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSV Viewer 🔎</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="container">
      <header class="flex">
        <div id="">
          <a href="/">
            <h3>CSV Viewer</h3>
          </a>
        </div>
      </header>

      <main>
        <div id="uploded-files-wrapper" class="flex">
          <div id="uploaded-file-heading" class="center-text">
            <h3><%= file.originalFileName %></h3>
          </div>

          <div id="search-table-box-div" class="center-text">
            <input
              type="search"
              id="search-table-box"
              placeholder="search table content here ..."
            />
          </div>

          <!-- table displays file data -->
          <div id="table-wrapper">
            <table class="sortable-table" id="file-view-table">
              <thead>
                <tr>
                  <% for (let i = 0; i < headers.length; i++) { %>
                  <th onclick="sortTable('<%= i %>')" class="sort-asc">
                    <div class="flex view-file-header">
                      <%= headers[i] %>
                      <div class="asc-desc-icon">
                        <i class="fa-solid fa-sort"></i>
                      </div>
                    </div>
                  </th>
                  <% } %>
                </tr>
              </thead>
              <tbody>
                <% for (obj of file.data) { %>
                <tr>
                  <!-- rendering data row wise -->
                  <% for (let i = 0; i < length; i++) { %>
                  <td><%= obj[headers[i]] %></td>
                  <% } %>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </main>

      <%- include('_footer') %>

      <script src="/js/fileView.js"></script>
      <script
        src="https://kit.fontawesome.com/5e6e3315b0.js"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
