<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSV Viewer 🔎</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div id="container">
      <header class="flex">
        <div id="">
          <a href="/">
            <h3>CSV Viewer</h3>
          </a>
        </div>
      </header>

      <main>
        <div id="upload-file-box-outer" class="flex">
          <div id="app-details" class="center-text">
            <h3>Upload a file here</h3>
            <p>Reads CSV file and displays its content in tabular format</p>
          </div>
          <div id="upload-file-box-inner" class="flex">
            <div id="upload-btns">
              <form
                action="/file/upload"
                method="post"
                enctype="multipart/form-data"
              >
                <input
                  type="file"
                  accept=".csv"
                  name="uploaded_file"
                  placeholder="Upload CSV File..."
                  id="file-input"
                  required
                />
                <button id="" type="submit" class="primary-btn">
                  Upload File
                </button>
              </form>
            </div>
          </div>
        </div>

        <div id="uploded-files-wrapper" class="flex">
          <div id="upload-files-heading" class="center-text">
            <h3>Uploaded Files</h3>
          </div>

          <!-- table displays uploaded files -->
          <div id="table-wrapper">
            <% if (files.length === 0) { %>
            <div id="no-files-uploaded" class="flex">
              <h3>No Files uploaded yet!</h3>
            </div>
            <% } else { %>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>View</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <% for (file of files) { %>
                <tr>
                  <td><%= file.originalFileName %></td>
                  <td><%= file.createdAt.toLocaleDateString() %></td>
                  <td><%= file.createdAt.toLocaleTimeString() %></td>
                  <td>
                    <form
                      action="/file/view/<%= file._id %>"
                      method="get"
                      class=""
                    >
                      <button
                        id="view-file-btn"
                        type="submit"
                        class="primary-btn secondary-btn"
                      >
                        View File
                      </button>
                    </form>
                  </td>
                  <td>
                    <form
                      action="/file/delete/<%= file._id %>"
                      method="post"
                      class=""
                    >
                      <button
                        id="delete-file-btn"
                        class="primary-btn delete-btn"
                      >
                        Delete
                      </button>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } %>
          </div>
        </div>
      </main>

      <%- include('_footer') %>
    </div>
  </body>
</html>
